.TodoForm {
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00593b;
    padding: 30px 15px;
    width: 500px;
    color: white;

    label {
        font-weight: bold;
    }
    
    button {
        padding: 5px;
        cursor: pointer;
        border: none;
        background-color: white;
        color: #00593b;
        font-weight: bold;
    }
}