.CardsContainer {
    background-color: rgb(197, 211, 211);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    text-align: center;

    button {
        padding: 10px 15px;
        cursor: pointer;
        margin-top: 30px;
    }
}